body{
    background-color: #f7f3e9;
}

.float-left{
    float: left;
}

.page-layout{
    padding: 50px 100px  100px;
    
}

.card{
    height: 180px;
    width: 250px; 
    background-color: cornsilk;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
    
     
    
 }

 .banner{
     height: 50px;
     width: 50px;
     float: right;
 }

 .stock{
     margin-top:60px;
     
 }

 nav{
     background-color:#2b4f60 ;
     /* height: 70px; */
     padding: 20px;
 }

 h1{
     margin-top: 0;
     color: #bdc7c9;
     font-weight: 300;
     font-size: xx-large;
 }